@import 'tailwindcss';
body {
    background: linear-gradient(to right, blue, purple)
}   
.bg {
    background: linear-gradient(to right, red, white, rgb(232, 112, 112));
}
.bg:hover {
    background: red;
    transition: all;
}